body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-container {
    margin: 20px auto;
    width: 300px;
  }
  
  #search-form label,
  #search-form input,
  #search-form select {
    display: block;
    margin-bottom: 10px;
  }
  
  #results-container {
    margin: 20px auto;
    width: 500px;
  }
  
  #results-list {
    list-style-type: none;
    padding: 0;
  }
  
  #results-list li {
    margin-bottom: 10px;
  }
  